 <div id="setInput-panel">
                <form role="setInput">
                    <div class="form-group">
                        <input id="set-input" type="text" class="typeaheadSet form-control" x-webkit-speech sc_control_sys_idtf="ui_control_setInput_idtf_edit" style="width: 250px;" data-provide="typeahead" autocomplete="off">
                    </div>
                  {# <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button> #}
                </form>
            </div>